body {
  background-image: linear-gradient(to bottom,  rgb(100, 230, 250), rgb(3, 99, 255));

}




.header {
	
	background-color: white;
	text-align: center;
	padding-bottom: 10px;
	border-width: 20px;
	border-color: blue;
	padding: 30px;
	border-style: solid solid none solid;		
}

.header a{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 80px;
	color: black;
	text-decoration: none;	
}


table th{
	font-size: 20px;
	color: white;
	background-color: rgb(66, 71, 248);
	
	
}

td#ab {
	font-size: 15px;
	background-color: rgb(66, 149, 238);
	font-weight: bold;
	color: white;
	text-align: left;
}
	
	
table{
	
	width: 100%;
	border-collapse: collapse;
	background-color:rgb(160, 216, 255);	
}

 th, td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
	
}
tr:nth-child(even) {


  background-color: rgb(66, 205, 238);

}

  .fix {
	  
	  overflow: auto;
	  
  }
  
  .vnkteksts{
	font-size: 30px;
	color: red;
	font-weight: bold;
	text-align: center;

}


.toplinks {
  overflow: hidden;
  background-color: black;  
  border-left: 20px solid blue;
  border-right: 20px solid blue;
}

.toplinks a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  width: 33.333%;
  padding: 10px 0px 10px 0px;
  text-decoration: none;
  font-family: "Arial Black", Gadget, sans-serif;  
}

.toplinks a:hover {
  background-color: white;
  color: black;
  
}



.columnmain {
padding-right: 15%;
padding-left: 15%;
width: 70%;
font-family: Verdana, Geneva, sans-serif;
  
  
}


.columnback {
  background-color: white;
  padding: 10px 20px 20px 20px;
  margin: 15px;
}

.columnback a{
	color: red;
	text-decoration: none;
	font-weight: bold;
	
}

.columnback a:hover {
	color: green;
	font-size: 20px;
	
}




.wrapper{

position: fixed;
  top: 90%;
  left: 5%;
}


.wrapper a{
  
  display: block;
  background-color: rgb(5, 100, 200);
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;
  color: white;
  border: 3px solid black;
  text-align: center;
  transition: all .25s;
}



.wrapper a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(100, 230, 250);
  transition: all .25s;
}

.wrapper a:hover{
  color: rgb(5, 100, 200);
}
.wrapper a:hover:after{
  width: 100%;
}



.icon {
  
position: fixed;
  top: 80%;
  left: 90%;
  display: block;
  
}


.icon a:hover{
  filter: blur(2px);

}




@media screen and (max-width:  800px){
  .toplinks a, .columnmain {
    width: 100%;
	
  }	
  
  body{
    background: $background-b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    z-index: -1;
}

.container{
    display: table;
    height: 95vh;
    width: 90%;
    padding-bottom: 5vh;
    margin: auto auto;
    @media (max-width: 900px){
    }
    background: $background;
    z-index: -1;
}

.content{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h1{
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: $white;
}







	
  

  

  
  
  
  



//// te beidzas 
  